body{background-color: #F4CFCE;}
table{background-color: #F59D9A;width: 1000px;margin-left: auto;margin-right: auto;}
td,th{border-style: solid;border-color: white;}
.centro{text-align: center;}
img{height: 300px}
.conejo{height: 700px}
h1{font-size: 100px}
h2{font-size: 30px;text-align: center;}